<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no"/>
    <meta name="robots" content="noindex">

    <% if (audience != "dev") { %>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer', <% if (audience == "app") { %> 'GTM-PWQZ2GB' <% } else { %> 'GTM-M2GCQLN' <% } %>);</script>
    <!-- End Google Tag Manager -->
    <% } %>

    <link rel="apple-touch-icon" sizes="180x180" href="/<%= require('../../assets/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="/<%= require('../../assets/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="/<%= require('../../assets/favicon-16x16.png') %>">
    <link rel="shortcut icon" href="/<%= require('../../assets/favicon.ico') %>">
    <link rel="mask-icon" href="/<%= require('../../assets/safari-pinned-tab.svg') %>" color="#6636b7">
    <% if (audience == "staging") { %>
        <link rel="manifest" href="/<%= require('../../assets/staging.webmanifest') %>">
    <% } else { %>
        <link rel="manifest" href="/<%= require('../../assets/site.webmanifest') %>">
    <% } %>

    <meta name="apple-mobile-web-app-title" content="Woost">
    <meta name="application-name" content="Woost">
    <meta name="msapplication-TileColor" content="#6636b7">
    <meta name="theme-color" content="#6636b7"/>

    <% if (audience != "dev") { %>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" crossorigin="anonymous">
    <% } %>

    <title><%= title %></title>

    <script>
        window.woostConfig = {
            "versionString": "<%= versionString %>",
            "audience": "<%= audience %>",
            "urls": {
                "emojiSheet": "/<%= require('../../target/scala-2.12/scalajs-bundler/main/node_modules/emoji-datasource-twitter/img/twitter/sheets/64.png') %>",
                "emojiPickerSheet": "/<%= require('../../target/scala-2.12/scalajs-bundler/main/node_modules/wdt-emoji-bundle/sheets/sheet_twitter_64_indexed_128.png') %>",
                "halfCircle": "/<%= require('../../assets/halfCircle.svg') %>",
                "wunderlistIcon": "/<%= require('../../assets/wunderlist.png') %>",
                "trelloIcon": "/<%= require('../../assets/trello.svg') %>",
                "meistertaskIcon": "/<%= require('../../assets/meistertask.svg') %>",
                <%
                    let files = Object.keys(webpack.compilation.assets)
                    let sw_file = files.find(file => file.startsWith("sw.") && file.endsWith(".js"))
                %>"serviceworker": "/<%= sw_file %>"
            },
        };
    </script>

    <noscript>
        <div id="noscriptmsg">
            <p>Welcome to Woost!</p>
            <p>You don't have javascript enabled. Good luck with that.</p>
        </div>
    </noscript>

  </head>

  <body>
    <% if (audience != "dev") { %>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M2GCQLN"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <% } %>


    <!-- draggable mirror is positioned absolute, so that mirrors do not affect the page layout (especially flexbox) and therefore do not produce ill-sized or misplaced mirrors -->
    <div id="draggable-mirrors" style="position:absolute;"></div>
    <div id="modal-placeholder"></div>
    <div id="sidebar-placeholder"></div>
    <div id="container"></div>


    <% if (audience != "dev") { %>
    <script async src="https://cdn.nolt.io/widgets.js"></script>
    <script>window.noltQueue=window.noltQueue||[];function nolt(){noltQueue.push(arguments)}</script>
    <% } %>


    <% if (audience != "dev") { %>
    <!-- announcekit sidebar widget -->
    <script>
      window.announcekit = (window.announcekit || { queue: [], on: function(n, x) { window.announcekit.queue.push([n, x]); }, push: function(x) { window.announcekit.queue.push(x); } });
    </script>
    <script async src="https://cdn.announcekit.app/widget.js"></script>
    <% } %>


    <!-- define crisp queue even in dev mode so we can detect if crisp was loaded or not (blocked by browser plugin) -->
    <script type="text/javascript">
        window.$crisp=[]; 
        window.CRISP_IS_READY = false;
        window.CRISP_READY_TRIGGER = function() {
            window.CRISP_IS_READY = true;
        };
        $crisp.push(["do", "chat:hide"]);
        $crisp.push(["safe", true]); // hide warnings about js shims
        window.CRISP_WEBSITE_ID="5ab5c700-31d3-490f-917c-83dfa10b8205";
        <% if (audience != "dev") { %>
            (function(){d=document;s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
        <% } %>
    </script>


  </body>
</html>
