/* https://css-tricks.com/international-box-sizing-awareness-day */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Slab', serif;
    overflow: hidden; /* disables scrolling */
}


.shadow {
    /* http://www.cssmatic.com/box-shadow */
    -webkit-box-shadow: 0px 7px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 21px -6px rgba(0,0,0,0.75);
}

.hard-shadow {
    border-top: 1px solid rgba(158,158,158,0.19);
    -webkit-box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
    -moz-box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
    box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
}

.flex {
    min-width: 0px; /* fixes overflow:scroll inside flexbox (https://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox/28639686#28639686) */
    min-height: 0px; /* fixes full page scrolling when messages are too long */
    display: flex;
}
