/* Custom, iPhone Retina */
/* @media only screen and (min-width : 320px) { } */
/* Extra Small Devices, Phones */
/* @media only screen and (min-width : 480px) { } */
/* Small Devices, Tablets */
/* @media only screen and (min-width : 768px) { } */
/* Medium Devices, Desktops */
/* @media only screen and (min-width : 992px) { } */
/* Large Devices, Wide Screens */
/* @media only screen and (min-width : 1200px) { } */

/* These are viewgrids used by TiledView */
.viewgridAuto {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
}
@media only screen and (min-width : 992px) {
    .viewgridAuto {
        grid-template-columns: repeat(2, 50%);
    }
}
.viewgridRow {
    margin: 0;
    padding: 0;
    display: flex;
}
/* TODO: too many columns overlaps the content because it autofits the screen height */
.viewgridColumn {
    margin: 0;
    padding: 0;
    display: grid;
    grid-gap: 0px;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: minmax(50px, 1fr);
}

/* inspired by https://github.com/markdowncss/air/blob/master/index.css */
.article {
    color: #444;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 300;
    margin: 6rem auto 1rem;
    max-width: 100ch;
}

.article p {
    color: #777;
}

.article h1 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid #eaecef;
}

.article .focuslink {
    float:left;
    margin-left:-2em;
    width: 2em;
    text-align: right;
    padding-right: 10px;
    display: inline-block;
    color: #BBB;
    font-weight: normal;
    cursor: pointer;
}

.article .focuslink > * {
    visibility: hidden;
}

.article h1:hover .focuslink > *,
.article h2:hover .focuslink > *,
.article h3:hover .focuslink > *,
.article h4:hover .focuslink > *,
.article h5:hover .focuslink > *,
.article h6:hover .focuslink > *,
.article p:hover .focuslink > * {
    visibility: visible;
}


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.graphpost {
    word-wrap: break-word;
    text-rendering: optimizeLegibility;
    position: absolute;
    padding: 3px 5px;
    /* border-radius : 3px; */ /* affects graph rendering performance */
}

.splitpost::selection {
    color: red;
    background: blue;
}
.splitpost::-moz-selection {
    color: red;
    background: blue;
}



/************/
/* ChatView */
/************/
.chatmsg-outer-frame {
}

.chatmsg-avatar {
    margin: 5px;
}

.chatmsg-author {
    font-weight: bold;
    color: #50575f;
}

.chatmsg-deleted {
    text-decoration: line-through;
    cursor: default;
}

.chatmsg-inner-frame {
    display: block;
    padding: 0px 10px;
    margin: 5px 0px;
}

.chatmsg-header {
    font-size: 0.8em;
    line-height: 100%;
    padding-bottom: 3px;
}

.chatmsg-body {
    align-items: center;
    padding: 0 0 3px;
}

.chatmsg-card {
    cursor: move; /* TODO: What about cursor when selecting text? */
    border-radius: 3px;
    margin-left: 3px;
    background-color: #FEFEFE;
    overflow-x: auto;
}

.chatmsg-content {
    word-wrap: break-word;
    word-break: break-all;
    padding: 2px 4px;
    /* display: inline-block; */
    border: 1px solid transparent; /* placeholder for the dashed border when dragging */
}

.chatmsg-content pre {
    white-space: normal;
}

.chatmsg-controls {
    visibility: hidden;
    display: flex;
    align-items: center;
    padding-left: 3px;
}

.chatmsg-date {
    margin-left: 8px;
    font-size: smaller;
    color: gray;
}

div.msg-tags {
    padding: 0px 3px 0 5px;
}

span.msg-tag {
    font-weight: bold;
    font-size: small;
    color: #fefefe;
    border-radius: 2px;
    padding: 0px 3px;
    margin: 1px 0px;
    white-space: nowrap;
    cursor: pointer;
}




/*********************/
/* Controls on hover */
/*********************/
.chatmsg-body:hover .chatmsg-controls {
    visibility: visible;
}

/* TODO: Focus is only used as a quick hack in order to use controls on mobile browser */
.chatmsg-body:focus .chatmsg-controls {
    visibility: visible;
}

/*************/
/* Draggable */
/*************/
.chatmsg-inner-frame .draggable--over {
    background-color: #aaccff;
    border-radius: 3px;
}

.chatmsg-inner-frame .draggable-mirror {
    background-color: #fefefe;
    border-radius: 3px;
    overflow: hidden;

    border-top: 1px solid rgba(158,158,158,0.19);
    -webkit-box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
    -moz-box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
    box-shadow: 0px 1px 0px 1px rgba(158,158,158,0.45);
}

.chatmsg-inner-frame .draggable-source--is-dragging {
    color: #999;
    border-radius: 3px;
    border: 1px solid #999;
    border-style: dashed;
}

.chatmsg-inner-frame .draggable--over.draggable-source--is-dragging {
    background-color: inherit;
}

.text {
    cursor: text;
}

.non-bookmarked-page-frame {
    padding: 20px;
    -webkit-box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 2px 10px 0px rgba(0,0,0,0.75);
}

.non-bookmarked-page-frame > * {
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
}
